.footer {
    display: flex;
    align-items: center;
    background-color: #1c2833;
    padding-left: 50px;
    height: 55px;
}

p {
    margin-left: auto;
    color: white;
    font-size: small;
    padding-right: 40px;
}