<div class="actions-container">
    <div class="search-container">
        <input
            type="text"
            class="input-search"
            [(ngModel)]="searchValue"
            placeholder="Type to search"
            data-agmp="search-button"
        />
        <button class="search-button" data-agmp="search-button" (click)="handleSearch()">Search</button>
    </div>
    <button class="add-course-button" data-agmp="add-course-button" (click)="onCourseAdd()">+ Add Course</button>
</div>